/* colocando cores  */
.blue{
    background-color: rgba(69, 189, 230, 0.83);
}
.blue2{background-color: rgba(69, 189, 230, 0.83);
}
.titulo{
    color: rgb(199, 111, 4);
    background-color: rgba(69, 189, 230, 0.83);
    text-align: center;
}

    